env
.vscode
__pycache__/
.DS_Store
/static/xtree.js
/templates/xmega_tree.html
/templates/xtree.html
/static/xmega_tree.js
/templates/xcellist_profile.html
/templates/xtree_landing.html
/templates/xoop_tree.html
/static/xscratch.js
secrets.sh
scratch.py
settings.json
.coverage
.idea