/* Font-Family: 'Source Sans Pro', Sans-Serif;
Font-Size: 48px;
Font-Family: 'Sintony', Sans-Serif;
Font-Size: 14px; */

/* Font-Family: 'Ubuntu', Sans-Serif;
Font-Size: 48px;
Font-Family: 
Font-Size: 15px; */

/* Font-Family: 'Nunito', Sans-Serif;
Font-Size: 45px;
Font-Family: 'PT Sans', Sans-Serif;
Font-Size: 17px; */

* {
    font-family: 'Open Sans', Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', Sans-Serif;
}

.alt-font {
    font-family: 'Ubuntu', Sans-Serif;
}

.btn.btn-primary {
    background-color: green;
    border-color: green;
    color: white;
    padding: .5rem 1.5rem!important;
    /* border-radius: 5rem; */
}

.box-shadow {
    box-shadow: 0 2rem 4.6rem rgba(0,0,0,0.9);
}

.box-shadow-sm {
    box-shadow: 0 1rem 2rem 0.5rem rgba(0,0,0,0.3);
}

.navbar-custom {
    /* background-color: rgba(255,255,255,.5)!important; */
}

.navbar.navbar-custom a {
    color: black;
}

.home-container {
    margin: 2rem 0;
    padding: 1rem;
    background-color: rgba(255,255,255,.7);
    border: 2px solid black;
}

.main-title {
    font-size: 10rem;
    line-height: 1;
}

.subtitle {
    font-weight: bold;
    padding: 0 2rem;
}

.bkg-img {
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: .25;
    z-index: -1;
}

.cellist-card {
    border: 2px solid black;
    border-radius: 0;
}

.cellist-card-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.overlay-dark {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: black;
    opacity: .4;
}

