{% extends 'base.html' %}

{% block body %}
    <h1>Add cellist</h1>
    {% if 'user_id' in session %}
    <form id="add_cellist">
        <input type="text" id="fname" placeholder="first name">
        <input type="text" id="lname" placeholder="last name">
        <input type="textarea" id="cello_details" placeholder="cello details">
        <input type="textarea" id="bio" placeholder="biography">
        <input type="text" id="img_url" placeholder="image url">
        <input type="text" id="music_url" placeholder="music url">
        <input type="submit">
    </form>
    <h3 id="response_here"></h3>
    {% else %}
    <p>Please <a href="/">log in</a> to add a cellist.</p>
    {% endif %}

{% endblock %}   