<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cello Tree</title>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
</head>
<body>
    <h1>Add cellist form</h1>
    <form id="add_cellist">
        <input type="text" id="fname" placeholder="first name">
        <input type="text" id="lname" placeholder="last name">
        <input type="textarea" id="cello_details" placeholder="cello details">
        <input type="textarea" id="bio" placeholder="biography">
        <input type="text" id="img_url" placeholder="image url">
        <input type="text" id="music_url" placeholder="music url">
        <input type="submit">
    </form>
    <h3 id="response_here"></h3>

    <script src="/static/ajax.js"></script>
</body>
</html>