{% extends 'base.html' %}

{% block body %}
<div class="bkg-img" style="background-image: url(/static/img/tree_5.jpg); top: 0"></div>
<div class="overlay-dark"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="profile-section tree-section position-relative box-shadow-sm mt-3">
                <div class="profile-section-overlay"></div>
                <div class="profile-inner-container border-300">
                    <h1>All Cellists</h1>
                    <div class="row">
                        <div class="col-12 col-md-7">
                            <form id="searchWrapper">
                                <div class="form-group form-row">
                                    <label for="search_box">Search for a cellist by name</label>
                                    <input id="searchBar" type="search" class="form-control" placeholder="Search...">
                                </div>
                            </form>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex align-items-baseline">
                                <p class="small">Don't see who you're looking for?</p>
                                <a href="/add_cellist" class="btn btn-primary ml-3">
                                    <span class="fa fa-plus"></span>
                                    Add cellist
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="cellistsList" class="row mt-5">

    </div>
</div>



{% endblock %}