{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Browse all cellists</h1>
    <p>or search</p>
    <p>alpha index by last name</p>
    <p>Don't see who you're looking for?</p>
    <button class="btn btn-secondary">Add cellist</button>

    <div class="row">
        {% for cellist in all_cellists %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card cellist-card">
                <div class="row no-gutters">
                    <div class="col-4">
                        {% if cellist.img_url %}
                        <div class="cellist-card-img" style="background-image: url('{{cellist.img_url}}')"></div>
                        
                        <!-- <img src="{{cellist.img_url}}" class="card-img" alt="image of {{cellist.lname}}, {{cellist.fname}}"> -->
                        {% else %}
                        <!-- <img src="/static/img/cello_1.jpg" class="card-img" alt="image of a cello"> -->
                        <div class="cellist-card-img" style="background-image: url('/static/img/cello_1.jpg')"></div>
                        {% endif %}
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title text-black">{{cellist.lname}}, {{cellist.fname}}</h5>
                            <div class="row">
                                <div class="col-4 pr-0">
                                    <p class="card-text">4 <br><small class="text-muted">teachers</small></p>
                                </div>
                                <div class="col-4 pr-0">
                                    <p class="card-text">5 <br><small class="text-muted">students</small></p>
                                </div>
                                <div class="col-4">
                                    <p class="card-text">25 <br><small class="text-muted">posts</small></p>
                                </div>
                            </div>
                            <a href="/cellist_profile/{{cellist.cellist_id}}" class="btn btn-primary mt-3">View profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>
</div>


{% endblock %}