<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <title>Cello Tree</title>
</head>
<body>
    <h1>Hi there</h1>
    <h2>(this is base.html)</h2>
    
    {% block body %}{% endblock %}
    <script src="/static/ajax.js"></script>
</body>
</html>