<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Sintony|Source+Sans+Pro:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>Cello Tree</title>
</head>
<body>
    <h1>Cello Tree</h1>
    <h2>Header</h2>
    <a href="/">Log in or create account | </a>
    <a href="/all_cellists">View all cellists by alpha | </a>
    <a href="/tree">View tree | </a>
    <a href="/add_cellist">Add a cellist | </a>
    <p>____________</p>
    
    {% block body %}{% endblock %}
    <script type="text/javascript" src="/static/ajax.js"></script>
</body>
</html>