{% extends 'base.html' %}

{% block body %}
    <h1>{{cellist.fname}} {{cellist.lname}}</h1>

    {% if cellist.img_url %}
        <img src="{{cellist.img_url}}" alt="">
    {% endif %}

    {% if cellist.bio %}
        <p>{{cellist.bio}}</p>
    {% endif %}

    {% if cellist.cello_details %}
        <p>Instrument: {{cellist.cello_details}}</p>
    {% endif %}

    {% if cellist.music_url %}
        <a target="_blank" href="{{cellist.music_url}}">Listen here</a>
    {% endif %}

    <form id="add_link">
        <h5>add a teacher</h5>
        <input id="teacher_id" type="text" placeholder="teacher id">
        <input id="student_id" type="hidden" placeholder="student id" value="{{cellist.cellist_id}}">
        <input type="submit">
    </form>

    <ul id="teachers_list">TEACHERS
        <li>teacher 1</li>
    </ul>
    <ul id="students_list">STUDENTS
        <li>student 1</li>
    </ul>

    {% if cellist.posts %}
        <h4>Forum</h4>
        {% for post in cellist.posts %}
            <h5>{{post.user.username}}</h5>
            <h6>{{post.post_date}}</h6>
            <p>{{post.content}}</p>
        {% endfor %}
    {% endif %}

{% endblock %}   