{% extends 'base.html' %}

{% block body %}
<div class="bkg-img" style="background-image: url(/static/img/tree_2.jpg); top: 0"></div>
<div class="overlay-dark"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="profile-header text-white position-relative box-shadow-sm mb-5 mt-3">
                <div class="profile-header-overlay"></div>
                <div class="row">
                    <div class="col-12 col-md-5">
                        <div class="profile-inner-container d-flex flex-column justify-content-between">
                            <div class="profile-name-container mb-5">
                                <h1>{{cellist.fname}}<br>{{cellist.lname}}</h1>
                            </div>
                            <div class="button-container">
                                {% if 'user_id' in session %}
                                <button class="btn btn-secondary border-white mr-3" data-toggle="modal"
                                    data-target="#updateModal">
                                    <i class="fas fa-edit mr-1"></i>
                                    Edit profile
                                </button>
                                {% else %}
                                <p>Please <a href="/">log in</a> to edit this profile.</p>
                                {% endif %}
                                {% if editor != None %}
                                <small class="d-block mt-2">
                                    last edited by: 
                                    <span id="last_edited">{{editor.username}}</span>
                                </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="profile-inner-container d-flex flex-column justify-content-between pl-0">
                            <div class="pb-2">
                                <p class="m-0"><strong>Teachers:</strong> {{cellist.teacher_links|length}}
                                </p>
                                <p class="m-0"><strong>Students:</strong> {{cellist.student_links|length}}
                                </p>
                                <p class="m-0"><strong>Posts:</strong> {{cellist.posts|length}}</p>
                            </div>
                            {% if cellist.cello_details %}
                            <p class="border-top pt-2 pb-2 mb-0">
                                <strong>Cello details:</strong> {{cellist.cello_details}}
                            </p>
                            {% endif %}
                            {% if cellist.music_url %}
                            <div class="pt-2">
                                <a href="{{cellist.music_url}}" target="_blank" class="btn btn-secondary border-white mx-0">
                                    <i class="fas fa-music mr-1"></i>
                                    Listen now
                                    <i class="fas fa-external-link-alt ml-1"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        {% if cellist.img_url %}
                        <div class="cellist-card-img" style="background-image: url('{{cellist.img_url}}')"></div>
                        {% else %}
                        <div class="cellist-card-img" style="background-image: url('/static/img/cello_1.jpg')"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-12 col-md-10 offset-1">

            <div id="treeSection" class="profile-section tree-section position-relative box-shadow-sm mb-5">
                <div class="profile-section-overlay"></div>
                <div class="row">
                    <div class="col-12">
                        <h2>The Tree</h2>
                        <p>Tip: click to explore the branches of the tree!</p>
                        <p id="root_cellist_id" data-id="{{cellist.cellist_id}}"></p>
                        <div id="double_tree_container"></div>

                        <div class="m-4">
                            <h5>Add a branch to this tree</h5>
                            {% if 'user_id' in session %}
                            <form id="add_link">
                                <div class="form-group d-flex">
                                    <div class="d-flex flex-column">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="ts_radio"
                                                id="teacher_radio" value="teacher_radio">
                                            <label class="form-check-label" for="teacher_radio">
                                                Add a teacher of {{cellist.fname}} {{cellist.lname}}
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="ts_radio"
                                                id="student_radio" value="student_radio" checked>
                                            <label class="form-check-label" for="student_radio">
                                                Add a student of {{cellist.fname}} {{cellist.lname}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="ml-3">
                                        <select name="new_id_select" class="form-control" id="new_id" required>
                                            {% for c_option in all_cellists %}
                                            <option value="{{c_option.cellist_id}}">{{c_option.lname}},
                                                {{c_option.fname}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="ml-3">
                                        <input id="current_id" type="hidden" value="{{cellist.cellist_id}}">
                                        <input type="submit" class="form-control btn btn-primary">
                                    </div>
                                </div>

                            </form>

                            <p id="add_link_response"></p>

                            <div class="mt-4">
                                <p class="small d-inline">Don't see who you're looking for?</p>
                                <a href="/add_cellist" class="btn btn-secondary ml-3 d-inline">
                                    <span class="fa fa-plus"></span>
                                    Add cellist to database
                                </a>
                            </div>

                            {% else %}
                            <p>Please <a href="/">log in</a> to add a teacher.</p>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>

            {% if cellist.bio %}
            <div class="profile-section position-relative box-shadow-sm mb-5">
                <div class="profile-section-overlay"></div>
                <div class="profile-inner-container border-black">
                    <h3>About {{cellist.fname}} {{cellist.lname}}</h3>
                    <p>{{cellist.bio}}</p>
                </div>
            </div>
            {% endif %}

            <div class="profile-section position-relative box-shadow-sm mb-5">
                <div class="profile-section-overlay"></div>
                <div class="profile-inner-container border-black">
                    <h4>Forum</h4>
                    <form id="add_post">
                        {% if 'user_id' in session %}
                        <input id="cellist_id_from_profile" type="hidden" value="{{cellist.cellist_id}}"
                            class="form-control">
                        <div class="form-group form-row">
                            <label for="post_content">Do you have a memory or question to share about this cellist? Drop
                                it here! Or just browse below.</label>
                            <textarea id="post_content" rows="4" class="w-100" class="form-control"></textarea>
                        </div>
                        <div class="form-group form-row">
                            <input type="submit" class="btn btn-primary form-control" style="max-width: 100px;">
                        </div>

                        {% else %}
                        <p>Please <a href="/">log in</a> to add a post.</p>
                        {% endif %}
                    </form>

                    {% if posts %}
                    <div id="profile_forum">
                        {% for post in posts %}
                        <div class="py-4">
                            <h5>{{post.user.username}}</h5>
                            <h6>{{post.post_date.strftime('%b. %d, %Y, %H:%M')}} UTC</h6>
                            <p>{{post.content}}</p>
                            <p>
                                <i id="upvote_icon_{{post.post_id}}" class="fas fa-arrow-alt-circle-up"></i>
                                <span id="upvotes_count_{{post.post_id}}" class="">
                                    Upvotes: {{post.upvotes|length}}
                                </span>
                            </p>

                            {% if 'user_id' in session %}
                            <button id="toggle_upvote_{{post.post_id}}" class="btn btn-secondary"
                                onclick="toggleUpvote(`{{post.post_id}}`)">
                                Upvote
                            </button>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>Be the first one to post!</p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade custom-modal" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update {{cellist.fname}} {{cellist.lname}}'s profile
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update_cellist">

                    <input type="hidden" id="update_cellist_id" value="{{cellist.cellist_id}}" class="form-control">
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="update_fname">First Name</label>
                            <input type="text" id="update_fname" value="{{cellist.fname}}" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="update_lname">Last Name</label>
                            <input type="text" id="update_lname" value="{{cellist.lname}}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <label for="update_music_url">Website or music URL</label>
                        <input type="text" id="update_music_url" value="{{cellist.music_url}}" class="form-control">
                    </div>
                    <div class="form-group form-row">
                        <label for="update_cello_details">Cello details (limit 150 characters)</label>
                        <textarea id="update_cello_details" value="{{cellist.cello_details}}" class="form-control"
                            rows="3">{{cellist.cello_details}}</textarea>
                    </div>
                    <div class="form-group form-row">
                        <label for="update_bio">Bio (limit 800 characters)</label>
                        <textarea id="update_bio" value="{{cellist.bio}}" maxlength="800" class="form-control"
                            rows="10">{{cellist.bio}}</textarea>
                    </div>
                    <div class="form-group">
                        <label class="d-block" for="current_photo">Current photo</label>
                        {% if cellist.img_url %}
                        <img src="{{cellist.img_url}}" id="current-photo" style="max-height: 100px;" alt="current cellist photo">
                        {% else %}
                        <p>This profile does not have a photo yet. Add one!</p>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="d-block" for="update_photo">New photo</label>
                        <input type="file" id="update_photo" value="{{cellist.img_url}}">
                    </div>
                    <div class="form-group form-row">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="/static/tree_class.js"></script>
<script src="/static/oop_asc_desc.js"></script>

{% endblock %}