{% extends 'base.html' %}

{% block body %}
    <h1>{{cellist.fname}} {{cellist.lname}}</h1>

    {% if cellist.img_url %}
        <img src="{{cellist.img_url}}" alt="">
    {% endif %}

    {% if cellist.bio %}
        <p>{{cellist.bio}}</p>
    {% endif %}

    {% if cellist.cello_details %}
        <p>Instrument: {{cellist.cello_details}}</p>
    {% endif %}

    {% if cellist.music_url %}
        <a target="_blank" href="{{cellist.music_url}}">Listen here</a>
    {% endif %}

    <form id="add_link">
        <h5>add a teacher</h5>
        
        {% if 'user_id' in session %}
            <select name="teacher_id_select" id="teacher_id" required>
                {% for c_option in all_cellists %}
                    <option value="{{c_option.cellist_id}}">{{c_option.lname}}, {{c_option.fname}}</option>
                {% endfor %}
            </select>
            <input id="student_id" type="hidden" placeholder="student id" value="{{cellist.cellist_id}}">
            <input type="submit">
        {% else %}

        <p>Please <a href="/">log in</a> to add a teacher.</p>
        {% endif %}
    </form>

    <p id="add_link_response"></p>

    {% if cellist.teacher_links %}
    <ul id="teachers_list">TEACHERS
        {% for teacher_link in cellist.teacher_links%}
        <li><a href="/cellist_profile/{{teacher_link.teacher_id}}">{{teacher_link.teacher.fname}} {{teacher_link.teacher.lname}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if cellist.student_links %}
    <ul id="students_list">STUDENTS
        {% for student_link in cellist.student_links%}
        <li><a href="/cellist_profile/{{student_link.student_id}}">{{student_link.student.fname}} {{student_link.student.lname}}</a></li>
        {% endfor %}
    </ul>
    <!-- <button onclick="createNode(`{{cellist.cellist_id}}`)">View in tree</button> -->
    
    {% endif %}

    <a href="/node/{{cellist.cellist_id}}">View in tree</a>

    {% if 'user_id' in session %}
        <button>Update this cellist profile</button>
        <form id="update_cellist">
            <input type="hidden" id="update_cellist_id" value="{{cellist.cellist_id}}">
            <input type="text" id="update_fname" placeholder="first name">
            <input type="text" id="update_lname" placeholder="last name">
            <input type="textarea" id="update_cello_details" placeholder="cello details">
            <input type="textarea" id="update_bio" placeholder="short bio (limit 500 characters)" maxlength="500">
            <input type="text" id="update_img_url" placeholder="image url">
            <input type="text" id="update_music_url" placeholder="music url">
            <input type="submit">
        </form>
        <h3 id="update_cellist_response"></h3>
    {% endif %}
    
        <h4>Forum</h4>
        <form id="add_post">
            {% if 'user_id' in session %}
                <input id="post_content" type="textarea" placeholder="your post here">
                <input id="cellist_id_from_profile" type="hidden" value="{{cellist.cellist_id}}">
                <input type="submit">
            {% else %}
                <p>Please <a href="/">log in</a> to add a post.</p>
            {% endif %}
        </form>

        {% if posts %}
            <div id="profile_forum">
                {% for post in posts %}
                    <div>
                        <h5>{{post.user.username}}</h5>
                        <h6>{{post.post_date.strftime('%b. %d, %Y, %H:%M')}} UTC</h6>
                        <p>{{post.content}}</p>
                        {% if 'user_id' in session %}
                            <button id="toggle_upvote_{{post.post_id}}" onclick="toggleUpvote(`{{post.post_id}}`)">Upvote</button>
                        {% endif %}
                        <!-- if post.upvotes|length > 0 -->
                        <p id="upvotes_count_{{post.post_id}}">{{post.upvotes|length}}</p>
                        <!-- endif -->
                    </div>
                {% endfor %}
            </div>
        {% endif %}

{% endblock %}   