{% extends 'base.html' %}

{% block body %}

<!-- if user is not logged in: -->
<h3>Log In</h3>
<form action="">
    <input type="text" id="u_or_e" placeholder="username or email">
    <input type="text" id="password" placeholder="password">
    <input type="submit">
</form>

<!-- if user is logged in:
display "hello, username"
-->

<h3>About Cello Tree</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>




{% endblock %}