<!-- this file is taken from the Hackbright D3 example and is no longer in use. -->

{% extends 'base.html' %}

{% block head %}

<style>
    svg {
      width: 100%;
      height: 100%;
    }
    #tree_layout { height: 500px; }
  </style>

<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://d3js.org/d3-hierarchy.v2.min.js"></script>

{% endblock %}

{% block body %}
<h1>The Tree</h1>

<p id="root_cellist_id" data-id="{{cellist_id}}"></p>
<div id="tree_layout"></div>

<script src="/static/tree.js"></script>


{% endblock %}   