{% extends 'base.html' %}

{% block head %}

<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://d3js.org/d3-hierarchy.v2.min.js"></script>


<style>

    .node {
        fill: #000000;
        stroke: none;
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 2px;
    }
</style>

{% endblock %}

{% block body %}
<h1>The Tree</h1>

<!-- LOGIC 
    for each cellist,
        if cellist has no teachers,
            display cellist name
            display cellist students below
            for each student,
                display students of student
                if no students, 
                    exit loop and return to outer list
    OR
    view node in tree and click load more

    OR
    reorganize into nested dictionary
 -->

<svg width="500" height="500">
    <g transform="translate(5, 5)">
        <g class="links"></g>
        <g class="nodes"></g>
    </g>
</svg>

<script src="/static/tree.js"></script>


{% endblock %}   